<div class="supermarket"></div>
<div class="container justify-content-center">
    <h4 class="text-center food-eater-header">FOOD EATER 2</h4>
    <div class="container">
        <div class="row" id="foods">
            <div class="col-sm-6 text-center">
                <label for="uneaten" class="column-header">UNEATEN FOOD:</label>
                <div id="uneaten">
                    <ul>
                        {{!-- loop through all foods in the render object --}}
                        {{#each foods}}
                            {{!-- if eaten then ignore --}}
                            {{#unless eaten}}
                                <button type="button" class="btn eat" id="{{this.id}}">
                                <p>Food: {{this.food_name}}</p>
                                <p>Cook: {{this.cook_name}}</p>
                                    <h4>
                                        <span class="glyphicon glyphicon-ice-lolly"></span> ---> Eat it! ---> 
                                        <span class="glyphicon glyphicon-ice-lolly-tasted"></span>
                                    </h4>
                                </button>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <label for="eaten" class="column-header">EATEN FOOD:</label>
                <div id="eaten">
                    <ul>
                        {{!-- loop through all the foods again --}}
                        {{#each foods}}
                            {{!-- this time if eaten good we want only those --}}
                            {{#if eaten}}
                                <button type="button" class="btn eaten" id="{{this.id}}">
                                    <p>Food: {{this.food_name}}</p>
                                    <p>Cook: {{this.cook_name}}</p>
                                    <h4>
                                        <span class="glyphicon glyphicon-ice-lolly"></span> <--- Uneat it! <--- 
                                        <span class="glyphicon glyphicon-ice-lolly-tasted"></span>
                                    </h4>
                                </button>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row text-center">
                    <label for="new-food" class="column-header">NEW COOK:</label>
                    <div class="row">
                        <input type="text" class="new-food-field" id="new-cook">
                    </div>
                </div>
                <div class="row text-center">
                    <button type="button" class="btn btn-lg new-cook-button" id="cookname">
                        <h4>
                            <span class="glyphicon glyphicon-hand-right"></span> ---> Click to Submit! <--- 
                            <span class="glyphicon glyphicon-hand-left"></span>
                        </h4>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row text-center">
                    <label for="new-food" class="column-header">NEW FOOD:</label>
                    <div class="row">
                        <input type="text" class="new-food-field" id="new-food">
                    </div>
                    <label for="cookSelector" class="whos-cooking">WHO'S COOKING?</label>
                    {{!-- selector for cook --}}
                    <select class="row text-center" id="cookSelector">
                        {{#each cooks}}
                            <option cook="{{this.cook_name}}" data-id="{{this.id}}">{{this.cook_name}}</option>
                        {{/each}}    
                    </select>
                </div>
                <div class="row text-center">
                    <button type="button" class="btn btn-lg new-food-button" id="submit">
                        <h4>
                            <span class="glyphicon glyphicon-hand-right"></span> ---> Click to Submit! <--- 
                            <span class="glyphicon glyphicon-hand-left"></span>
                        </h4>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>